/* Header Styling */

.header{
    background-color: #004085;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1{
    width: 40%;
    font-size: xxx-large;
    color: white;
}

#searchbar {
    text-align: center;
    width: 60%;
}

.header__icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#account, #google_map_finder, #basket{
    width: 30%;
}

/* Navigation bar styling */

header nav {
    background-color: darkblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav a {
    padding: 20px;
    color: white;
}

main img{
    text-align: center;
    width: 100%;
}

.second_navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.featured_icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;

}

main h1 {
    text-align: center;
    font-size: xxx-large;
}

.featured_icons div {
    border: solid;
}

/* Contact section styling */
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact__icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    width: 20%;
}

.contact__text {
    font-size:x-large;
}

.contact div form input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

footer div {
    text-align: center;
    background-color: #004085;
    color: white;
}

